function Movement.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push constant 7300
    pop this 1
    push constant 0
    pop this 0
    push pointer 0
    return
function Movement.update 1
    push argument 0
    pop pointer 0
    call Keyboard.keyPressed 0
    pop local 0
    push constant 7300
    call Graphics.drawChicken1 1
    pop temp 0
    push local 0
    push constant 128
    eq
    not
    if-goto L1
    push constant 7300
    call Graphics.chickenReset 1
    pop temp 0
    push constant 4804
    call Graphics.chickenJump 1
    pop temp 0
    push constant 150
    call Sys.wait 1
    pop temp 0
    push constant 4804
    call Graphics.chickenReset 1
    pop temp 0
    push constant 7300
    call Graphics.drawChicken1 1
    pop temp 0
    goto L0
label L1
label L0
    push constant 10
    call Sys.wait 1
    pop temp 0
    push constant 0
    pop this 0
    push constant 0
    return