function ChickenRunGame.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push constant 7300
    call Chicken.new 1
    pop this 0
    push constant 7350
    call Farmer.new 1
    pop this 1
    push pointer 0
    return
function ChickenRunGame.gamePlay 0
    push argument 0
    pop pointer 0
    push this 1
    call Farmer.moveFarmer 1
    pop temp 0
    push constant 1
    neg
    return