function ChickenRunGame.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push constant 0
    pop this 0
    push constant 1
    neg
    pop this 1
    push pointer 0
    return
function ChickenRunGame.gamePlay 4
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push constant 1
    neg
    pop local 2
    call Keyboard.keyPressed 0
    pop local 1
    push constant 7300
    call Chicken.new 1
    pop local 3
    call Farmer.new 0
    pop local 0
label L0
    push local 2
    not
    if-goto L1
    push local 0
    call Farmer.moveFarmer 1
    pop temp 0
    push local 3
    call Chicken.jump 1
    pop temp 0
    goto L0
label L1
    push constant 0
    return