function Main.main 4
    call ChickenRunGame.new 0
    pop local 0
    call Keyboard.keyPressed 0
    pop local 2
    push local 0
    call ChickenRunGame.StartScreen 1
    pop temp 0
    push local 0
    call ChickenRunGame.gamePlay 1
    pop temp 0
    push constant 0
    return